button#wiringModeBtn {
  padding: 8px 16px;
  background-color: #efefef;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button#wiringModeBtn.active {
  background-color: #d9534f;
  color: white;
}
